/* @import "~react-bulma-components/src/index.sass" */
/* $primary: #ffaa50; */



@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$blue: #2a3166;
$lightpeach: #f4abaa;
$darkpeach: #ee7879;
$pistacchio: #cae7df;
$success: $lightpeach;
$primary: #cae7df;
$link: darkgrey;
$warning: #2a3166;
$footer-background-color: white;
// .button-checkboxes{
//   background-color: white;
//   border-radius: 3px;
//   border: 0.2px solid #edf7f4;
// }
// #categories:hover{
//   background-color: #f3f9f7;
// }
.activity-name{
  font-size: x-large;
}

img{
  margin: none;
  padding: none;
  border: none;
}

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
}

.single-spaced, .single-spaced * {
  line-height: 1;
}


// #categories:active { outline-color: #cae7df;
//   outline-width: 1px;  }

// button:focus { outline-color: #cae7df; }

.has-border{
  border-radius: 3px;
  border: 0.2px solid #edf7f4;
}

.center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-not-selected {
  background-color: white;
  border: none
}

.btn-selected {
  background-color:  #edf7f4; 
  border: none
}

button:focus { outline-color: #edf7f4; }


// #nav-toggle-state {
//   display: none;
// }

// #nav-toggle-state:checked ~ .navbar-menu {
//   display: block;
// }


.random-activity{
  color: #ee7879;
}


@import "bulma/bulma.sass";

